[Unit]
Description=pianists Database GitHub Sync
After=network.target

[Service]
User=katayama
WorkingDirectory=/home/katayama/Documents/pianists/systemd
ExecStart=/bin/bash git_db.sh
RestartSec=10

[Install]
WantedBy=multi-user.target
